*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: norse-bold;
    src: url(../font/Norse-Bold.otf);
}

.form-container{
    display: flex;
}
.form-left-pane{
    display: flex;
    flex-direction: column;
    background-image: url(../img/plant.jpg);
    background-size: 400px auto;
    background-repeat: no-repeat;
    width: 400px;
    height: 600px;
    

    
}

.img-container{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 120px;
    align-self: flex-start;
    background-color:rgba(12, 4, 4, 0.5);
    width: 100%;

    
}

.img-container img{
    

    width: 80px;
    height: auto;
    
}

.img-container span{
    align-self: flex-end;
    font-family: "norse-bold";
    font-size: 80px;
    color: white;

}

.img-container + span {
    margin-top: 310px;
    align-self: center;
    color: white;
}

.form-right-pane{
    padding: 100px 40px;
}

.form-right-pane > p {
    font-size: 18px;
    font-weight: 500;
}

.form-right-pane p:nth-child(2){
    margin-top: 20px;
}


