*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
    
}

@font-face {
    font-family: norse-bold;
    src: url(../font/Norse-Bold.otf);
}

.form-container{
    display: flex;
    box-shadow: 0px 0px 2px 2px;
}
.form-left-pane{
    display: flex;
    flex-direction: column;
    background-image: url(../img/plant.jpg);
    background-size: 400px auto;
    background-repeat: no-repeat;
    width: 400px;
    height: 600px;
    
    

    
}

.img-container{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 120px;
    align-self: flex-start;
    background-color:rgba(12, 4, 4, 0.5);
    width: 100%;

    
}

.img-container img{
    

    width: 80px;
    height: auto;
    
}

.img-container span{
    align-self: flex-end;
    font-family: "norse-bold";
    font-size: 80px;
    color: white;

}

.img-container + span {
    margin-top: 310px;
    align-self: center;
    color: white;
}

.form-right-pane{
    padding: 75px 40px;
}

.form-right-pane > p {
    font-size: 18px;
    font-weight: 500;
}

.form-right-pane p:nth-child(2){
    margin-top: 20px;
    margin-bottom: 40px;
}

.form-wrapper{
    display: flex;
    gap: 40px;
    margin-top: 10px;
    
}

.left-section,
.right-section{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 15px;
    font-size: 12px;
    letter-spacing: 2px;
}

input{
    border-radius: 5px;
    width: 250px;
    padding: 5px;
    
    
    
}

input:focus{
    outline-color: rgb(0, 174, 255);
    box-shadow: 0px 0px 4px ;
}
 button{
    padding:10px 20px ;
    margin-top: 15px;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 10px;
 }
button + p{
    margin-top: 20px;
}

p > a{
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}
